@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

$main-color: #14142B;
$label-color: #6E7191;
$font-family: 'Poppins', sans-serif;
$button-color: #EFF0F6;
$nav-color: #4E4B66;
$background-color: #F7F7FC;