@import "components/util/variables";

* {
  box-sizing: border-box;

  body {
    margin: 0;
    font-family: $font-family;
    background-color: $background-color;

    h2 {
      font-size: 48px;
      font-weight: 600;
      margin: 20px;
    }

    .switch-btn {
      text-decoration: none;
      color: #4e4b66;
    }

    .error {
      color: #910404f1;
      margin: 0 0 10px;
    }

    button {
      cursor: pointer;
    }
  }
}
